@import "compass"

#cws-wp-help-actions
	padding-bottom: 5px
	a
		text-decoration: none
		float:           right
		font-size:       13px
		max-height:      16px
		font-weight:     normal
		padding:         4px 8px
		margin-left:     5px
		right:           -5px
		top:             -5px
		position:        relative
		border:          1px solid #ccc
		background:      #f7f7f7
		font-weight:     bold
		+border-radius(2px)
		body.rtl &
			float: left
			margin-left: 0
			margin-right: 5px
			right: auto
			left: -5px
		&#cws-wp-help-settings-on
			float:       left
			left:        -5px
			margin-left: 0
			body.rtl &
				float: right
				left: auto
				right: -5px
				margin-right: 0
		&:hover
			border-color: #008EC2
			background: #00a0d2
			color: #fff

#cws-wp-help-listing
	width:      250px
	float:      left
	clear:      both
	margin:     10px 10px 10px 0
	padding:    10px
	border:     1px solid #ccc
	background: #fafafa
	min-height: 400px
	+border-radius(3px)
	body.rtl &
		float: right
		margin: 10px 0 10px 10px
	ul li a
		text-decoration: none
	h3
		margin:  0
		padding: 0
	ul
		margin:     5px 5px 5px 15px
		list-style: circle
		body.rtl &
			margin: 5px 15px 5px 5px
		ul
			list-style: square
	> ul
		margin: 10px 5px 10px 20px
		body.rtl &
			margin: 10px 20px 10px 5px

#cws-wp-help-document,
#cws-wp-help-settings
	max-width:    600px
	padding-left: 300px
	body.rtl &
		padding-left: 0
		padding-right: 300px
	ul
		padding-left: 25px
		list-style:   square
		body.rtl &
			padding-left: 0
			padding-right: 25px

#cws-wp-help-document
	h2 small
		font-size:   12px
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
		color:       #888
		+text-shadow(white 0 1px 0)
		a
			text-decoration: none

#cws-wp-help-settings
	li
		font-style: italic

#cws-wp-help-settings,
#cws-wp-help-listing-labels,
#cws-wp-help-h2-label-wrap
	display: none

#cws-wp-help-settings-cancel
	margin-left: 10px
	body.rtl &
		margin-left: 0
		margin-right: 10px

#cws-wp-help-listing-labels
	margin-bottom: -10px

input#cws-wp-help-listing-label
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
	font-weight: 600
	font-size:   1.3em
	position:    relative
	color:       #23282d
	left:        -7px
	top:         -6px
	margin-bottom: -1px
	border:      1px dashed #dfdfdf
	width:       258px
	background:  #ffffee
	body.rtl &
		left: auto
		right: -7px

#cws-wp-help-h2-label-wrap
	margin-bottom: 4px

input#cws-wp-help-h2-label
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
	font-size:   23px
	font-weight: 400
	color:       #23282d
	line-height: 29px
	position:    relative
	top:         -2px
	left:        -6px
	margin:      7px 15px -6px 0
	border:      1px dashed #dfdfdf
	width:       450px
	background:  #ffffee
	//+text-shadow(white 0 1px 0)
	body.rtl &
		left: auto
		right: -6px
		margin: 7px 0 0 15px

input#cws-wp-help-api-url,
input#cws-wp-help-slurp-url
	width: 100%

#cws-wp-help-slurp-error
	display:    none
	margin:     5px 0 15px
	background: #FFEBE8
	border:     1px solid #CC0000
	padding:    0 0.6em
	+border-radius(3px)

#icon-wp-help
	background: transparent image-url('icon-32.png') no-repeat

.cws-wp-help-placeholder
	background:   #dadada
	height:       40px
	padding-left: 17px
	left:         -17px
	position:     relative
	list-style:   none
	border:       1px dashed #bbb
	+border-radius(3px)
	body.rtl &
		left: auto
		right: -17px
		padding-left: 0
		padding-right: 17px

#cws-wp-help-listing-wrap ul
	> li > img.sort-handle,
	> div#cws-wp-help-remote-docs-block > li > img.sort-handle,
	&.ui-sortable > li.cws-wp-help-is-slurped > img.sort-handle
		display: none
	&.ui-sortable
		li
			position: relative
		> li.cws-wp-help-local > img.sort-handle,
		> div#cws-wp-help-remote-docs-block > li:first-child > img.sort-handle
			display:        inline
			position:       absolute
			left:           -17px
			vertical-align: middle
			body.rtl &
				left: auto
				right: -17px
		> li.cws-wp-help-local,
		> div#cws-wp-help-remote-docs-block > li:first-child
			list-style: none
	&.can-sort .sort-handle:hover
		cursor: move

#cws-wp-help-loading
	position: absolute
	right: 0
	top: 0
	body.rtl &
		right: auto
		left: 0
